// Typography

body {
	font-family: $base-font;
	font-weight: 400;
	font-size: 100%;
	color: $text-color;
	-webkit-font-smoothing: antialiased;
	// @include for-desktop-up() {
	// 	font-size: 20px;
	// }
	// @include for-big-desktop-up() {
	// 	font-size: 24px;
	// }
	letter-spacing: -.2px;
}

article.single-debate-post {
	div.module__text p,
	div.module__text ul {
		
	}
	ul li {
		list-style-type: disc;
	}
}


strong,
// b {
// 	font-family: 'DGUVMetaWeb Bold';
// }

// em,
// i {
// 	font-family: 'DGUVMetaWeb Normal Italic';
// }
h1, 
*.as-h1,
h1 span,
*.as-h1 span {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	hyphens: none;
	//font-family: 'DGUVMetaWeb Bold';
}
h1, 
h2, 
*.as-h1 {
	//font-family: 'UnitWeb', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, 
h2, 
h3, 
p, 
ul 
li {
	margin: 0;
}

b, 
strong {
	font-weight: 600;
}

p,
h3 {
	&:last-child, &:last-of-type {
		margin-bottom: 0;
	}
}







// 
// SIZES
//

h1,
*.as-h1 {
	font-size: 32px;
}
h2,
h3,
h4,
table * {
	font-size: 16px;
	section.article-body & {
		// margin-bottom: 24px;
		// font-family: 'DGUVMetaWeb Bold';
	}
}
p,
ul,
ol,
dl,
dd,
dt,
section.home-section article.col h1,
section.subnav-section h3,
select {
	font-size: 16px;
	line-height: 1.45em;
	section.article-body & {
		&:not(:last-of-type) {
			margin-bottom: 24px;
		}
	}
}

small,
.small *,
*.small,
figcaption,
form input.form-control,
form button.btn,
.meta-nav * {
	font-size: 14px;
}

@include md() {
	h1,
	*.as-h1 {
		font-size: 42px;
	}
	p,
	ul {

	}
}

@include lg() {
	h1,
	*.as-h1 {
		font-size: 50px;
		line-height: 60px;
	}
	h2 {
		.section-article-body & {
			font-size: 26px !important;
			margin-top: 72px;
			margin-bottom: 48px;
			line-height: 1.4em !important;
		}
	}
	p,
	ul,
	div.mega-menu a.dropdown-item,
	ol,
	dl,
	dd,
	dt,
	h2,
	h3,
	section.home-section h1 {
		section.article-body &,
		div.mega-menu &,
		section.listings & {
			font-size: 22px;
			line-height: 33px;
		}
		article header & {
			&.intro {
				font-size: 18px;
				line-height: 30px;
			}
		}
	}
	p.display {
		font-size: 22px;
	}
	p.roof-row,
		section.subnav-section h3 {
		font-size: 18px;
	}
	h2,
	h3,
	h4 {
		section.article-body & {
			font-size: 18px;
			line-height: 30px;
			font-weight: 600;
		}
	section.article-body ul.listings li & {
				font-size: 22px !important;
			  line-height: 33px;
			}
	}
	div.mega-menu-header p a {
		font-size: 32px;
		line-height: 33px;
	}
	table * {
		font-size: 18px !important;
		line-height: 30px;
	}
}

@include xl() {
	h1,
	*.as-h1 {

	}
	p,
	ul {

	}
}







// 
// EXTRA SPACING
//

h1 {
	article header & {
		margin-bottom: 18px;
	}
}
p {
	article header & {
		&.intro {
			margin-bottom: 18px;
		}
	}
}

@include lg() {
	h1 {
		article header & {
			// margin-bottom: 180px;
		}
	}
}

// 
// COLORS
//

h1 {
	article header & {
		
	}
}
p {
	article header & {
		&.author-byline {
			color: $dark-grey;
		}
	}
}




// 
// Utilities
//

p {
	article header & {
		&.author-byline {
			border-bottom: 1px solid $dark-grey;
		}
	}
	section.article-body & {
		//hyphens: auto;
	}
}

// h1, 
// *.as-h1,
// section.article-body div.module__text h2,
// section.article-body div.module__text h3,
// section.search-results h1  {
// 	font-size: 36px;
// 	line-height: 1.1em;
// 	hyphens: auto;
// 	font-weight: 700;
// }
// section.article-body div.module__text h2,
// section.article-body div.module__text h3,
// section.search-results h1  {	
// 	font-size: 30px;
// 	line-height: 32px;
// }
// section.article-body div.module__text h3 {
// 	font-size: 24px;
// 	line-height: 26px;
// }
// section.article-body div.module__text h3,
// .as-h3,
// section.search-results h1 {
// 	font-size: 26px;
// 	line-height: 32px;
// }

// p, 
// blockquote, 
// ul,
// ol,
// li, 
// button, 
// form,
// *.as-h2,
// *.small-font h1 {
// 	font-size: 22px;
// 	line-height: 28px;
// 	section.article-body div.module__text & {
// 		font-size: 19px;
// 		line-height: 28px;
// 	}
// }
// .overline,
// .overline * {
// 	letter-spacing: .8px;
// }
// figcaption,
// small,
// .small-font,
// .small-font,
// form label,
// input::placeholder {
// 	font-size: 14px;
// 	line-height: 18px;
// 	-moz-font-feature-settings: "salt";
// 	-webkit-font-feature-settings: "salt";
// 	font-feature-settings: "salt";
// }
// .small-font {
// 	p, 
// 	blockquote, 
// 	ul,
// 	ol,
// 	li, {
// 		font-size: 16px;
// 	}
// }

// @include for-tablet-landscape-up() {

// }

// @include for-desktop-up() {
// 	h1,  
// 	*.as-h1 {
// 		font-size: 56px;
// 		line-height: 56px;
// 		letter-spacing: -.5px;
// 		article.title-debate & {
// 			font-size: 42px;
// 			line-height: 42px;
// 		}
// 	}
// 	section.article-body div.module__text h2 {
// 		font-size: 30px;
// 		line-height: 32px;
// 	}
// 	section.article-body div.module__text h3,
// 	.as-h3,
// 	section.search-results h1 {
// 		font-size: 24px;
// 		line-height: 32px;
// 	}
// 	p, 
// 	blockquote, 
// 	ul,
// 	ol,
// 	li, 
// 	button, 
// 	form,
// 	*.as-h2,
// 	select  {
// 		font-size: 22px;
// 		line-height: 1.45em;
// 		section.article-body div.module__text & {
// 			font-size: 20px;
// 			line-height: 32px;
// 			letter-spacing: 0;
// 		}
// 	}
// 	.dim {
// 		font-size: .9em;
// 	}
// 	.overline,
// 	.overline *,
// 	.over-line,
// 	.over-line * {
// 		font-size: 17px;
// 	}
// 	nav.main-nav ul li {
// 		font-size: 18px;
// 	}
// 	nav.main-
// 	figcaption,
// 	small,
// 	.small-font,
// 	.small-font,
// 	input[type="submit"],
// 	input::placeholder {
// 		font-size: 16px;
// 		line-height: 24px;
// 		letter-spacing: 0;
// 	}
// }

blockquote {
	font-style: italic;
}
strong, 
.bold {
	font-weight: 600;
}

figcaption,
input::placeholder,
*.font-weight-medium {
	//font-weight: 600;
}
small {
	display: block;
	line-height: 1.45em;
}
small strong {
	-webkit-font-smoothing: antialiased;
}
.upper, 
.page-header h1 {
	text-transform: uppercase;
}
.sc {
	font-variant: small-caps;
}
.ln {
	font-variant-numeric: lining-nums;
}
table {
	font-variant-numeric: tabular-nums;
}
.body-text  {
	p, h2 {
		margin-bottom: 1em;
	}
	ol {
		margin-bottom: 1em !important;
		li {
			margin-bottom: 1em !important;
		}
	}
}
.dont-break-out {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;
}
input::placeholder {
	opacity: .5;
}
*.middle-grey {
	color: $middle-grey;
}
