// Variables



$base-font: 'DGUVMetaWeb','Helvetica Neue', Helvetica, Arial, sans-serif;

$dguv-blau-2: #0063af; // Primary color
$dguv-blau-4: #0086cd;
$dguv-blau: #004994;
$dguv-blau-8: #5bc5f2;
$dguv-blau-10: #d4edfc;

$dguv-orange: #f39200;
$dguv-rot: #d51317;
$dguv-violett: #b81178;
$dguv-gruen: #4ca22f;
$dguv-tuerkis: #008c8e;
$dguv-grau-1: #3c3c3c;
$dguv-grau: #575756;
$dguv-grau-4: #878787;
$dguv-grau-6: #b2b2b2;
$dguv-grau-7: #c6c6c6;
$dguv-grau-9: #ededed;





$text-color: #3c3c3c;
$text-dark-green: #005C48;
$primary-color: rgb(0,255,194);
$primary-color-headlines: #00eeb5;
$primary-as-background: #D8FFEA;
$blue: rgb(11,28,193);
$middle-grey: rgb(153,154,165);
$light-grey: lighten($middle-grey, 30%);

$dark-grey: #999AA5;



