div.pagination {
	nav {
		width: 100%;
	}
	ul.pagination {
		* {
			border: none !important;
		}
		li {
			a {
				border-radius: 0 !important;
				color: $dguv-blau-2;
				svg {
					width: 10px;
					path {
						fill: $dguv-blau-2;
					}
				}
				&:hover {
					background: $dguv-blau-2 !important;
					color: #FFFFFF;
					svg {
						path {
							fill: #FFFFFF;
						}
					}
				}
			}
		}
	}
}