div.module__gallery-slider {
	margin: 36px 0;
	figcaption {
		padding-left: 12.5px;
	}
	@include md() {
		width: 600px;
		figcaption {
			padding-left: 20px;
		}
	}
	@include lg() {
		width: auto;
		figcaption {
			padding: 0;
		}
		grid-column: 2 / span 10;
	}
	@expand .figcaption;
	div.slider-nav {
		@extend .mobile-full-edge-padding;
	}
}
div.slider-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
		margin-top: 12px;
	@include for-phone-only() {
		//padding: 0 12px;
	
	}
}
div.slick-slider {
	cursor: -webkit-grab; cursor: grab;
	div.slick-slide {
		//margin-right: 12px;
	}

}
div.gallery-slider__nav {
		svg {
			height: 18px;
			cursor: pointer;
		}
	}