ul.listing {
	&.downloadwoid_view {
		// border-top: 1px solid $dguv-grau-4;
	}
	li[class*="__media-file"],
	li[class*="__file"] {
		border-top: 1px solid $dguv-blau-2;
		// &:first-child {
		// 	border-top: 1px solid $dguv-grau-6;
		// }
		&:not(:last-child) {
			//border-bottom: 1px solid $dguv-grau-6;
		}
		padding: 24px 0;
		@include lg() {
			padding: 24px 0 48px 0;
		}
		div.media-file-wrapper {
			@include flex-container();
			.media-file__title {
				font-weight: 600;
			}
			div.media-file__image {
				flex: 0 0 20%;
			}
			div.media-file__body {
				flex: 0 0 60%;
				padding: 0 12px;
				@include lg() {
					padding: 0 36px 0 24px;
				}
			}
			div.media-file__actions {
				flex: 1 0 20%;
				text-align: right;
				display: flex;
				justify-content: flex-end;
				// align-self: flex-end;
				svg {
					&.media-file__download-icon {
						max-width: 24px;
						margin-bottom: 12px;
						path {
							fill: $dguv-blau-2;
						}
					}
				}
				a {
					text-decoration: none;
					color: $dguv-grau-4;
					&:hover {
						text-decoration: none;
						color: $dguv-blau-2;
						svg {
							path {
								fill: $dguv-blau-2;
							}
						}
					}
				}
			}
			&.has-no-cover {
				div.media-file__image {
					flex: 0 0 5%;
					svg {
						max-width: 100px;
						path {
							fill: $dguv-grau-9;
						}
					}
				}
				div.media-file__body {
					//padding-left: 0;
				}
			}
		}
	}
}