ul.listing {
	margin: 24px 0;
	@include lg() {
		margin: 48px 0;
	}
	a, 
	a:hover {
		border: none;
	}
	&.downloadwoid_view {
		// border-top: 1px solid $dguv-grau-4;
	}
	li {
		//background: red;
		h3 {
			font-weight: 600;
			line-height: 1.3;
			margin-bottom: 6px;
		}
		a {
			text-shadow: none;
			text-decoration: none;
			border: none;
			p {
				color: $text-color;
			}
			&:hover {
				
				p {
					color: $dguv-blau-2;
				}
			}
		}
		&:before {
			
		}
	}
}