/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  //visibility: hidden;
  // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  // filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  font-family: $base-font;
  font-size: 18px;
  line-height: 24px;
  border: 2px solid #E3E2E7;
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -168px;
  padding: 18px;
  width: 300px;
  background-color: white;
  color: #68676E;
  content: attr(data-tooltip);
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0;
  border-top: 10px solid #E3E2E7;
  border-top: 10px solid #E3E2E7;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  // filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}